/* @font-face {
  font-family: "Inter";
  font-style: normal;
  src: local(""),
    url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
} */

/* * {
  font-family: "Inter";
  color: #494f5a;
} */

.ResponsiveRedesign {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .banner {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    background-color: #b79191;
    img {
      max-height: 100%;
    }
  }

  h1 {
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: #e3d589;
  }

  h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 600;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  li {
    margin: 0em;
  }

  .projectInfo {
    display: flex;
    justify-content: space-between;

    .projectDetails {
      display: flex;
      flex-direction: column;
      width: 30%;
      max-height: 100%;
      justify-content: space-between;
    }

    .overview {
      width: 60%;
    }
  }

  .spacing {
    margin: 4px 0px;
    border-top: none;
    visibility: hidden;
  }

  .widthContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 40px;
    padding: 40px 15% 64px 15%;

    .section {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .subsection {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }

  .imgContainer {
    background-color: #e8e7e3;
    padding: 10px;
  }

  .scrollable {
    max-height: 575px;
    overflow-y: scroll;
  }

  .screenshot {
    width: 100%;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: #e8e7e3;
  }

  .bold {
    font-weight: 600;
  }

  .underlined {
    text-decoration: underline;
  }

  hr {
    border-top: 1px solid #494f5a;
    width: 100%;
  }

  .frame {
    background-color: transparent;
  }
}
