.Carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper {
}

.slide {
  display: flex;
  height: 100%;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  margin-left: auto;
  margin-right: auto;

  img {
    min-width: 500px;
    height: auto;
  }
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
