@font-face {
  font-family: "Coolvetica";
  font-style: normal;
  src: local(""),
    url("assets/fonts/coolvetica.rg-regular.otf") format("opentype");
}
* {
  color: black;
  margin: 0px;
  font-family: "Inter";
  line-height: 130%;
}

h1,
h2 {
  font-weight: 400;
  font-family: "Coolvetica";
}

h1 {
  /* font-family: "Ethereal"; */
  /* font-weight: 400; */
  /* text-transform: uppercase; */
  /* letter-spacing: 3px;
  font-size: 64px; */
}

.App {
  /* padding: 0% 5%; */
  background-color: #f0efed;
}

iframe {
  border: 0px;
}

.subsection:hover {
  h3 {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #e3d589;
    text-decoration-thickness: 3px;
  }
}
